.addTodo{display: flex;justify-content: center;align-items: center;padding:1rem;border-top:2px solid #ddd;background:var(--color-bg);border-radius:0 0 5px 5px;}
.addTodo input[type=text]{width:80%;height:30px;border:none;background:#fff;border-radius: 5px 0 0 5px;text-indent: 10px;outline: none;}
.addTodo button{background:var(--color-accent);width:20%;height:30px;font-weight: bold;color:#fff;border-radius: 0 5px 5px 0;}
